@import "tailwindcss";

:root {
  --primary: #B31F3C;
  --primary-hover: #8A142B;
  --secondary: #242424;
}

body {
  font-family: var(--font-raleway);
}


.font-sora {
  font-family: var(--font-sora) !important;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.18s ease-out forwards;
}